.about_the_show{
	padding: 82px 100px 50px 100px;

/*	background-color: #DDA0DD;*/
  background: -webkit-linear-gradient(bottom, rgba(60,00,00,.1), rgba(60,00,00,1));
  background: -moz-linear-gradient(bottom, rgba(60,00,00,.1), rgba(60,00,00,1));
  border-radius: 5px;
  margin: 0px 0px 0px 0px;
}