body{
/*  background-color: white;*/
  color: white;
/*  padding-top: 20px;*/
  height: 1000px;
  background: url('../images/theater-background.jpg') no-repeat fixed center;
}
.navigation_bar{
background-color: black;
display: inline;
position: fixed;
width: 100%;
z-index: 10000;
}

.navigation_bar ul{
  list-style-type:none;
  margin:0;
  text-align: center;
  padding-bottom: 82px;
  padding-top: 20px;
  border-style: solid;
  border-color: black;
/*  border-radius: 5px;*/
  background-color: black;
/*  opacity: 0.9;*/
}

.navigation_bar li{
  display: inline;
}

.navigation_bar ul li a { 
  text-decoration: none; 
  padding: .2em 1em; 
  color: white; 
  background-color: #000; 
  font-size: 16px;
  } 

.navigation_bar img{
  margin: 0 10px;
  vertical-align: bottom;
  float: left;
}


.tiziana{
  margin-right: 20px;
  font-family: 'Courier New';
  color: red;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 15px;
}
.trying{
  float: left;
  margin-top: 54px;
}
.others{
  margin-top: 50px;
  margin-bottom: -53px;
}