body{
/*  background-color: white;*/
  color: white;
/*  padding-top: 20px;*/
  height: 1000px;
  background: url('../images/theater-background.jpg') no-repeat fixed center;
  background-size: 100% 100%;
}
.navigation_bar{
background-color: black;
display: inline;
position: fixed;
width: 100%;
z-index: 10000;
}

.navigation_bar ul{
  list-style-type:none;
  margin:0;
  text-align: center !important;
  padding-bottom: 62px;
  padding-top: 0px;
  border-style: solid;
  border-color: black;
  background-color: black;
  border-bottom: 1px solid #FFCCCC;
}

.navigation_bar li{
  display: inline;
  float:left;
  margin: 0 6px;
}

.navigation_bar ul li a { 
  text-decoration: none; 
  padding: .2em 1em; 
  color: white; 
  background-color: #000; 
  font-size: 16px;
  } 

.navigation_bar img{
  margin: -20px 10px;
  vertical-align: bottom;
  float: left;
}


.tiziana{
  margin: 10px 20px 20px 56px;
}
.trying{
  float: left;
  margin-top: 34px;
}
.others{
  margin-top: 22px;
  margin-bottom: -53px;
  float: right;
}

.navigation_bar ul li a {display:block;}
.navigation_bar ul li ul {position:absolute;width:110px;padding-bottom:5px;
    padding-left: 0; padding-top:11px; border-color: black;}  
.navigation_bar ul li ul li {width:110px;}
.navigation_bar ul li ul li a {display:block;padding:10px 10px;color:blue; background:#999999;border-style: solid;
  border-color: black;}
.navigation_bar ul li ul li:hover a {background:#F7F7F7;}
.navigation_bar ul li ul.fallback {display:none;}
.navigation_bar ul li:hover ul.fallback {display:block;}


.content .title_lj{
  font-size: 30px;
  color: white;
  padding-top:85px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-shadow: 1px 1px 1px #FF00FF;
}
.content .subtitle{
  color: white;
  text-shadow: 1px 1px 1px #FF00FF;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.fa-heart{
  font-size: 0.333333em;
  line-height: .75em;
  vertical-align: 85%;
}



