body{
/*  background-color: white;*/
  color: white;
/*  padding-top: 20px;*/
  height: 768px;
  background: url('../images/theater-background.jpg') no-repeat fixed center;
  background-size: 100% 100%;
}
.navigation_bar{
background-color: black;
display: inline;
position: fixed;
width: 100%;
z-index: 10000;
}

.navigation_bar ul{
  list-style-type:none;
  margin:0;
  text-align: center !important;
  padding-bottom: 62px;
  padding-top: 0px;
  border-style: solid;
  border-color: black;
  background-color: black;
  border-bottom: 1px solid #FFCCCC;
}

.navigation_bar li{
  display: inline;
  float:left;
  margin: 0 6px;
}

.navigation_bar ul li a { 
  text-decoration: none; 
  padding: .2em 1em; 
  color: white; 
  background-color: #000; 
  font-size: 16px;
  } 

.navigation_bar img{
  margin: -20px 10px;
  vertical-align: bottom;
  float: left;
}


.tiziana{
  margin: 10px 20px 20px 56px;
}
.trying{
  float: left;
  margin-top: 34px;
}
.others{
  margin-top: 22px;
  margin-bottom: -53px;
  float: right;
}

.navigation_bar ul li a {display:block;}
.navigation_bar ul li ul {position:absolute;width:125px;padding-bottom:5px;
    padding-left: 0; padding-top:11px; border-color: black;}  
.navigation_bar ul li ul li {width:110px;}
.navigation_bar ul li ul li a {display:block;padding:10px 10px;color:blue; background:#999999;border-style: solid;
  border-color: black;}
.navigation_bar ul li ul li:hover a {background:#F7F7F7;}
.navigation_bar ul li ul.fallback {display:none;}
.navigation_bar ul li:hover ul.fallback {display:block;}


.content .title_lj{
  font-size: 43px;
  color: white;
  /*padding-top:85px;*/
  padding-top:77px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-shadow: 1px 1px 1px #FF00FF;
}
.content .subtitle{
  color: white;
  text-shadow: 1px 1px 1px #FF00FF;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.fa-heart{
  font-size: 0.333333em;
  line-height: .75em;
  vertical-align: 85%;
}
.main_page_content img{
  margin: auto;
  display: block;

  /*width: 400px;*/
  width: 270px;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
}
.main_page_content{
  background: #483D8B;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 40px;
  overflow:hidden;
 /* width:465px;*/
  width: 320px;
  box-shadow: inset 0 50px rgba(255,255,255,0.1),
         inset 2px -15px 30px rgba(0,0,0,0.4),
         2px 2px 5px rgba(0,0,0,0.3);
  padding: 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  vertical-align: middle;
  text-align:center;
}
@media (max-width: 840px) {
  .main_page_content{
    margin-right: 50px;
  }
  .navigation_bar li{
    margin: 0 2px;
  }
}

.main_text{
  /*margin: 10px 50px 20px 50px;*/
  background-color: black;
  background: -webkit-linear-gradient(top, #000a0a, rgba(0,10,10,0.4));
  background: -moz-linear-gradient(top, #000a0a, rgba(0,10,10,0.4));
  padding: 7px;
  line-height: 24px;
  text-align: justify;
  margin: -120px 67px 20px 229px;
  border-radius: 5px;
  display: inline;
  float: right;
  border: 1px solid #380000 ;
}

.contact_t{
  padding: 20px 20px 20px 25px;
  background-color: black;
  background: -webkit-linear-gradient(top, #000a0a, rgba(0,10,10,0.4));
  background: -moz-linear-gradient(top, #000a0a, rgba(0,10,10,0.4));
  line-height: 24px;
  text-align: justify;
  border-radius: 5px;
  display: inline;
  float: left;
  border: 1px solid #380000;
  margin: 110px 20px 20px 50px;
  font-family: Cambria, Georgia, serif;
  font-size: 16px;
}

.eventbrite{
/*  background-color: black;
  background: -webkit-linear-gradient(top, #000a0a, rgba(0,10,10,0.8));
  background: -moz-linear-gradient(top, #000a0a, rgba(0,10,10,0.8));*/
  padding: 7px;
  line-height: 24px;
  text-align: justify;
  margin: -525px 67px 20px 25px;
  border-radius: 5px;
  display: inline;
  float: left;
 /* border: 1px solid #380000 ;*/
  text-shadow: 3px 3px 2px black;
  line-height: 20px;
  font-size: 14px;
/*  font-style:italic;*/
}
.eventbrite a:hover{
  color: black;
  text-shadow: 1px 1px 1px red;
}
.eventbrite a{
  font-size: 12px;
}



