body{
	background: url('images/group_photo.jpg');
}
img {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 10px;
}
h1{
	text-align: center;
}
.contentArea {
	background-color: #000;
	background: rgba(0, 0, 0, 0.62);
	padding: 65px 0 36px;
}

.columns {
	position: relative;
	padding-left: 0.625em;
	padding-right: 0.625em;
	float: left;
}
.row:before, .row:after{
	content: " ";
	display: table !important;
}

.topimage{
	margin-left: auto;
    margin-right: auto;
}

.bio-popup-wrapper{
	padding: 15px;
}